@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --amarillo: #FDC600;
  /*--darkModeBackground: #171321;*/
  --darkModeBackground: #16004a;
}

.container {
  /* min-height: 100vh;  */
  padding: 0 0.5rem; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboard {
  /* padding: 0 0.5rem;  */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.happyHanukkahTitle{
  font-family: 'Rock Salt', sans-serif; 
  transform: rotate3d(1, 1, 1, -12deg);
  color: var(--amarillo);
   animation: neon .40s ease-in-out infinite alternate;
  -webkit-animation: neon .40s ease-in-out infinite alternate; 
}

.hannukia-fire{
   fill: var(--amarillo);
   filter: url('#prefix__blur-filter');
   animation: neonFire .40s ease-in-out infinite alternate;
   -webkit-animation: neonFire .40s ease-in-out infinite alternate;
   -webkit-filter: url('#prefix__blur-filter'); 
}

.font_ADaughter{
  font-family: 'Architects Daughter', cursive;
}

.font_Varela{
  font-family: 'Varela', sans-serif;
}

.font_ADaughter-title{
  font-family: 'Architects Daughter', cursive;
  color: var(--amarillo);
   /* animation: neon .40s ease-in-out infinite alternate;
  -webkit-animation: neon .40s ease-in-out infinite alternate;  */

}


/*-- Animation Keyframes --*/

@keyframes neon {
  from {
    text-shadow:
    0 0 3px rgba(202,228,225,0.92),
    0 0 15px rgba(202,228,225,0.34),
    0 0 6px rgba(228, 221, 30, 0.52),
    0 0 9px rgba(228, 221, 30, 0.92),
    0 0 17px rgba(228, 221, 30, 0.78),
    0 0 26px rgba(228, 221, 30, 0.92);
  }
  to {
    text-shadow:
    0 0 3px rgba(202,228,225,0.98),
    0 0 15px rgba(202,228,225,0.42),
    0 0 6px rgba(228,221,30,0.58),
    0 0 11px rgba(228,221,30,0.84),
    0 0 19px rgba(228,221,30,0.88),
    0 0 30px rgba(228,221,30,1);
  }
}

@keyframes neonFire {
  0% {
		stroke-dashoffset: 0;
	} 
	100% {
		stroke-dashoffset: 1000;
	}
}

.important{
  color: var(--amarillo);
  font-family: 'Architects Daughter', cursive;
}


.backgroundColor{
  background-color: var(--darkModeBackground);
}  

.my-animate-bounce {
  animation: mybounce 1s infinite;
  -webkit-animation: mybounce 1s infinite;
}

@keyframes mybounce {
  0%, 100% {
    transform: translateY(-1%);
    animationTimingFunction: cubic-bezier(0.8, 0, 1, 1);
    -webkit-transform: translateY(-1%);
    -moz-transform: translateY(-1%);
    -ms-transform: translateY(-1%);
    -o-transform: translateY(-1%);
}
  50% {
    transform: translateY(0);
    animationTimingFunction: cubic-bezier(0, 0, 0.2, 1);
  }
}


.socialLogin{
  @apply cursor-pointer w-full sm:w-auto sm:flex-wrap sm:text-center sm:text-sm md:inline-flex inline-flex items-center justify-center font-semibold text-indigo-300 rounded-lg shadow-sm py-3 px-5 border-2 border-indigo-500 border-opacity-50;
}